# ignore files
*.aux
*.bbl
*.gz
*.log
*.blg
*.toc
*.tex.bak
*.bib.bak
*.bib.sav
.DS_Store
phdthesis.pdf
cover/cover.pdf
*.gls
*.glg
*.glo
*.nlo
*.ist
*.fls
*.fdb_latexmk
*.synctex(bysy)
phdthesis.dvi
